@tailwind base;
@tailwind components;
@tailwind utilities;

.flexbox-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.card-image {
  border-radius: 4.75%/3.5%;
  /* aspect-ratio: 734/1024; */
  box-sizing: border-box;
}
